---
- name: Disable root SSH login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'

- name: Enforce password min length
  lineinfile:
    path: /etc/security/pwquality.conf
    regexp: '^#?minlen'
    line: 'minlen = 14'

- name: Enable auditd
  service:
    name: auditd
    state: started
    enabled: yes

